<div infiniteScroll 
[infiniteScrollDistance]="2" 
[infiniteScrollThrottle]="1000"
(scrolled)="onScroll()">
<form class="container">
    <mat-card class="mat-card-form-field">
        <mat-form-field class="book-full-width" color="primary">
            <mat-label>Book title</mat-label>
            <input matInput type="text" (keyup)="onKeyUpTitle()" [(ngModel)]="bookTitle" name='title'>
        </mat-form-field>
    </mat-card>
    <mat-card class="mat-card-form-field">
        <mat-form-field class="book-full-width" color="primary">
            <mat-label>Author name</mat-label>
            <input matInput type="text" (keyup)="onKeyUpAuthor()" [(ngModel)]="nameAuthor" name='author'>
        </mat-form-field>
    </mat-card>
    <mat-card class="mat-card-form-field">
        <mat-form-field class="book-full-width" color="primary">
            <mat-label>Publisher</mat-label>
            <input matInput type="text" (keyup)="onKeyUpPublisher()" [(ngModel)]="publisher" name='publisher'>
        </mat-form-field>
    </mat-card>
</form>
<article *ngIf="booksResults !== null"
>
    <ng-container *ngIf="ifLoadingData === true; else elseTemplate">
        <mat-spinner class="spinner"></mat-spinner>
    </ng-container>
    <ng-template #elseTemplate>
        <div>
        <div *ngFor="let result of booksResults">
                <div class="book-display">
                    <div class="image">
                        <img *ngIf="result.volumeInfo.imageLinks" src="{{ result.volumeInfo.imageLinks.thumbnail }}"
                            alt="" />
                    </div>
                    <p class="authors-p">Authors:</p>
                    <div class="author" *ngFor="let aut of result.volumeInfo.authors">
                        <span> {{ aut }}</span>
                    </div>
                    <div class="title">
                        <span>Title: {{ result.volumeInfo.title }}</span> <br />
                        <br />
                    </div>
                    <div class="description" *ngIf="result.volumeInfo.description">
                        Description: {{result.volumeInfo.description | slice:0:100 }}
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</article>
</div>