.container {
    font-size: 28px;
    position: relative;
    margin-top: 20px;
    margin-left: 15vw;
}

.mat-card-form-field {
    width: 60%;
    margin-bottom: 15px;
}

.book-full-width {
    width: 100%;
}

.row { 
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
}

.book-display {
    font-size: 20px;
    height: 25vw;
    border: 1px solid rgb(15, 15, 15);
    margin-right: 5px;
    margin-top: 20px;
    padding: 10px;
    box-shadow: 0 6px 6px #e6e6e6;
    width: 35vw;
}
img {
    width: 60%;
    object-fit: fill;
    height: 25vh;
    left: 50%;
  }
    
.title {
    margin-right: 100px;
    color: rgb(0, 110, 255);
    font-size: 20px;
}

.description {
    overflow: hidden;
    font-size: 20px;
}

.show {
    overflow: visible;
    height: auto;
}
  