.container {
    font-size: 20px;
    display: inline;
}

.mat-card-form-field {
    width: 30%;
    margin-left: 15px;
    display: inline-block;
}

.book-full-width {
    width: 100%;
}

.book-display {
  min-height: 300px;
  font-size: 20px;
    border: 1px solid rgb(15, 15, 15);
    margin-left: 30vw;
    margin-top: 20px;
    padding: 10px;
    box-shadow: 0 6px 6px #e6e6e6;
    width: 35vw;
}
.image {
    max-width: 40%;
    margin: auto;
}

.title {
    margin-right: 100px;
    color: rgb(0, 110, 255);
    font-size: 20px;
}

.description {
    overflow: hidden;
    font-size: 20px;
}

.show {
    overflow: visible;
    height: auto;
}

.spinner {
    margin-top: 100px;
    left: 45%;
}
